:root {
    --fw-padding: 3rem;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.first-view {
    height: 100vh;
    margin-left: var(--fw-padding);
    margin-right: var(--fw-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-view header {
    align-self: top;
    /* padding: 20px; */
}

.first-view header h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: left;
    font-size: 24px;
}

.first-view header hr {
    border: 0;
    height: 3px;
    background-color: #ddd;
}

.first-view section {
    align-self: bottom;
    text-align: left;
    font-size: 4vmin;
}

.columns {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 2rem;
}

.column {
    width: 50%;
    padding-bottom: var(--fw-padding);
    font-size: 2.5vw;
}
