
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'horizon';
    src: url('../fonts/horizon.woff2') format('woff2');
}

@font-face {
    font-family: 'anton';
    src: url('../fonts/Anton.woff2') format('woff2');
}

:root {
    --tutorial-image-width: 30%;
    --tutorial-text-width: 50%;
    --tutorial-arrow-width: 10%;
}

/* @media screen and (min-width: 1280px) {
    .tutorial-text-container p {
        font-size: 2rem
    }
} */

/* @media screen and (min-width: 1024px) {
    .tutorial-text-container p {
        font-size: 1.5rem
    }
} */

* {
    margin: 0px;
}

#tutorial-container {
    overflow: hidden;
    white-space: nowrap;
    height: 100vh;
    width: 100vw;
}

#slider {
    transition: transform 1s;
}

#tutorial-arrow-left, #tutorial-arrow-right {
    width: var(--tutorial-arrow-width);
    height: 100%;
    cursor: pointer;
    z-index: 1;
    background-image: url("../images/wireframe-tutorial/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% auto;
    position: fixed;
    top: 0;
    transition: opacity 0.4s;
}

#tutorial-arrow-left {
    left: 0px;
    display: none;
    transform: rotate(180deg);
}

#tutorial-arrow-right {
    right: 0px;
}

#tutorial-cross {
    width: 5%;
    height: auto;
    position: fixed;
    right: 9%;
    top: 9%;
    transition: opacity 0.25s;
    z-index: 1;
}

.tutorial-frame {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
}

.tutorial-image-container {
    margin-left: var(--tutorial-arrow-width);
    width: var(--tutorial-image-width);
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorial-image-container img {
    width: auto;
    height: 80%;
}

.tutorial-text-container {
    margin-right: var(--tutorial-arrow-width);
    width: var(--tutorial-text-width);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-family: 'Poppins';
}

.tutorial-title {
    text-align: left;
    padding-left: 4rem;
    padding-bottom: 0rem;
    color: rgb(4, 53, 157);
    font-size: 2rem;
    font-family: 'horizon';
}

.tutorial-text-container p {
    padding: 4rem;
    text-wrap: wrap;
    font-size: 1.2vw;
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    /* Qui dentro va il CSS valido solo su dispositivi mobili in orizzontale */
    .tutorial-title {
        text-align: left;
        padding-left: 4rem;
        padding-bottom: 0rem;
        padding-top: 4rem;
        color: rgb(4, 53, 157);
        font-size: 1rem;
        font-family: 'horizon';
    }

    .tutorial-text-container p {
        padding-left: 4rem;
        padding-right: 4rem;
        padding-bottom: 4rem;
        padding-top: 3rem;
        text-wrap: wrap;
        font-size: 1.2vw;
    }
  }